/* @media (min-width: 30em) {
    .filepond--item {
        width: 100%;
    }
} */
.filepond--action-process-item {
    display: none !important;
}
@include media(xs) {
    .filepond--item {
        width: 100%;
    }
}
@include media(sm) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}
@include media(md) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}
@include media(lg) {
    .filepond--item {
        width: calc(50% - 0.5em);
    }
}
