.container {

    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 1630px;
    }
  }
  
  .container__wrap {
    padding-left: 32px;
    padding-top: 88px;
    padding-right: 32px;
    padding-bottom: 32px;
    min-height: 100vh;
    transition: padding-left 0.3s;
    background: $color-background;
  
    @media screen and (min-width: 576px) {
      padding-left: 272px;
      padding-top: 96px;
    }
  }
  
  .layout {
    &.layout--collapse {
      .container__wrap {
        padding-left: 32px;
  
        @media screen and (min-width: 576px) {
          padding-left: 112px !important;
        }
      }
    }
  }