.not-items {
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media(xs) {
        & {
            height: 150px;
        }
    }
    .message {
        font-weight: bold;
    }
}
