.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}
table {
    border-collapse: collapse;
}
.table{
    width: 100%;
    margin-bottom: 1rem;
    thead {
        th {
            vertical-align: bottom;
            text-align: left;
            border-bottom: 2px solid #dee2e6;
        }
    }
    td, th{
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .thead-dark {
        th {
            color: $white;
            background-color: $color-secondary;
            border-color: $color-secondary;
        }
    }
}  
.table-hover{
    tbody {
        tr{
            &:hover {
                background-color: #f5f5f5;
            }
        }
    }
} 
.table-sm{
    th,td {
        padding: .3rem;
    }
}
 
.table-scroll {
    max-height: 200px;
    thead{ 
        th { 
            position: sticky; top: 0; 
        }
    } 
    .scrollbar-track {
      &.scrollbar-track-y {
        width: 3px;
        margin-right: 3px;
      }
  
      &.scrollbar-track-x {
        display: none !important;
      }
    }
    
    .scrollbar-thumb {
      opacity: 0.5;
      width: 5px;
    }
  }